// -----------------------------------------------------------------------------
// This file contains all styles related to the essentials section.
// -----------------------------------------------------------------------------

section.essentials {
  position: relative;
  margin: 0 auto;
  margin-top: 3rem;
}
