// -----------------------------------------------------------------------------
// This file contains all styles related to the testimony section.
// -----------------------------------------------------------------------------

@use "../../abstracts/variables" as *;

section.testimony {
  background-color: var(--clr-light-gray);
  position: relative;
  margin-top: 100px;

  @media screen and (max-width: 800px) {
    margin-top: 20px;
  }

  // handle spice bg element
  &::before {
    content: "";
    position: absolute;
    width: 447px;
    height: 559px;
    top: -362px;
    left: var(--spice-left);
    border-bottom: 1px solid var(--clr-light-gray);
    background-image: url("/img/spice-bg.webp");
    background-repeat: no-repeat;
    transform: rotate(287deg);

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .container {
    margin: 0 auto;
    position: relative;
  }

  header {
    padding-top: 5.8rem;
  }

  .subtitle {
    width: 100%;
    max-width: 605px;
    line-height: 1.25;
  }

  .card-wrapper {
    position: relative;
    display: flex;
    overflow-y: scroll;
    gap: 10px;
    padding-bottom: 2rem;
    padding: 45px 35px;
    overscroll-behavior-x: contain;

    &:not(:hover) {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    &:not(:hover)::-webkit-scrollbar {
      display: none;
    }

    .card {
      position: relative;
      z-index: 1;
      --gap: 32px;
      display: flex;
      width: 100%;
      min-width: 550px;
      padding: var(--gap);
      border-radius: 10px;
      background-color: var(--clr-white);
      gap: var(--gap);
      transition: all 0.3s ease;
      box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.1);
      &__img {
        width: 184px;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        &__title {
          font-size: 2.5rem;
          font-family: var(--ff-avenir-heavy-700);
        }

        &__subtitle {
          font-size: 1.2rem;
          text-transform: uppercase;
          font-family: var(--ff-avenir-heavy-700);
        }

        &__description {
          font-size: 1rem;
        }

        &__text {
          font-size: 1.6rem;
        }
      }
    }

    .card-small {
      transform: scale(0.7);
      z-index: 0;
    }

    // responsive mobile
    @media screen and (max-width: $mobile) {
      margin: 0 32px;
      gap: 25px;
      padding: 42px 0px 10px 0px;
      margin-bottom: 20px;
      .card {
        align-items: center;
        --gap: 22px;
        box-shadow: none;
        flex-direction: column;
        min-width: 221px;
        margin-bottom: 5px;
        img {
          height: 124.042px;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    @media screen and (max-width: 1049px) {
      padding-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
      margin: 0 32px 15px 32px;

      .card{
        box-shadow: none;
      }
      .card-small {
        transform: scale(1);
      }
    }

    @media screen and (min-width: 1050px) {
      overflow: hidden;
      .card-small {
        left: -174px;
      }
    }
  }

  #testimony-cards.hovered {
    @media screen and (min-width: 1050px) {
      --offset: -172px;
      overflow: visible;
      .card{
        box-shadow: none;
      }
      .card-small {
        transform: scale(1) translateX(var(--offset));
        z-index: 1;
      }
      .card-normal {
        z-index: 0;
        transform: scale(0.7) translateX(var(--offset));
      }
    }
  }

  .aside-wrapper{
    --aside-width: 296px;
    --gap: 32px;
    display: flex;
    justify-content: center;
    background-color: var(--clr-white);
    height: 600px;
    padding: var(--gap);
    .aside{
      display: flex;
      padding: var(--gap);
      justify-content: center;
      flex-direction: column;
      gap: calc(var(--gap) / 2);
      color: var(--clr-white);
      width: 100%;
      max-width: 423px;
      height: 100%;
      border-radius: 10px;
      background-image: url("/img/cards/recipes/aside-recipe-bg.webp");
      background-blend-mode: screen, normal;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
      .surtitle{
        font-size: 1.8rem;
      }

      .title{
        font-size: 3.6rem;
      }

      img{
        border-radius: 5px;
        width: 100%;
        height: auto;
      }

      button{
        font-size: 1.6rem;
        
      }

    }
    @media screen and (min-width: 1050px) {
      padding: 0px;
      position: absolute;
      right: var(--testinomy-aside-right);
      transform: translateY(-540px);
      background-color: transparent;
      .aside{
        button{
          max-width: 263px;
        }
      }
    }
  }
}
