// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

body {
  > header {
    display: flex;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    background-color: var(--clr-white);
    z-index: 100;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: auto;
      right: auto;
      height: 1px;
      width: calc(100% - (var(--container-padding-left-right) * 2));
      border-top: 1px solid var(--clr-light-gray);
    }

    > a {
      height: 63px;
      min-width: 58px;
      margin-right: auto;
      h1 {
        height: 100%;
        background-image: url("/img/logo.webp");
        background-repeat: no-repeat;
        text-indent: -9999px;
      }
    }

    nav {
      display: flex;
      // display: none; // DEV
      align-items: center;
      width: 100%;
      max-width: 552px;
      margin-left: 18px;
      margin-right: 20px;

      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        li {
          height: 35px;

          a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            text-decoration: none;
            color: var(--clr-black);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
