// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

body {

  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: var(--clr-white);

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: auto;
      right: auto;
      height: 1px;
      width: calc(var(--container-max-width) - (var(--container-padding-left-right) * 2));
      border-top: 1px solid var(--clr-light-gray);
    }

    .container {
      display: flex;
      align-items: center;
      height: var(--header-height);
      background-color: var(--clr-white);
      width: 100%;
      // border-bottom: 1px solid var(--clr-light-gray);


      > a {
        height: 63px;
        min-width: 58px;
        margin-right: auto;
        h1 {
          height: 100%;
          background-image: url("/img/logo.webp");
          background-repeat: no-repeat;
          text-indent: -9999px;
        }
      }

      nav {
        width: 100%;
        max-width: 552px;
        margin-right: 20px;

        ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;

          li {
            height: 35px;

            a {
              display: flex;
              align-items: center;
              height: 100%;
              padding: 0 10px;
              text-decoration: none;
              color: var(--clr-black);

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
