// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  font-family: var(--ff-inter-700);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: normal;
  padding: 1.6rem;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}

.btn-green {
  height: 35px;
  font-size: 1.6rem;
  color: var(--clr-white);
  border-radius: 5px;
  border-color: var(--clr-green);
  background-color: var(--clr-green);
  padding: 0 16px;
}

.btn-gold{
  color: var(--clr-white);
  background-color: var(--clr-gold);
  border-color: var(--clr-gold);
}

.btn-white{
  border-color: var(--clr-black);
  background-color: var(--clr-white);
}
