// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// regular 400
@font-face {
  font-display: swap;
  font-family: "avenir_regular";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/avenir/avenir_regular.woff2") format("woff2"),
    url("/fonts/avenir/avenir_regular.woff2") format("woff");
}
// light 400
@font-face {
  font-display: swap;
  font-family: "avenir_light";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/avenir/avenir_light.woff2") format("woff2"),
    url("/fonts/avenir/avenir_light.woff") format("woff");
}
// heavy 700
@font-face {
  font-display: swap;
  font-family: "avenir_heavy";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/avenir/avenir_heavy.woff2") format("woff2"),
    url("/fonts/avenir/avenir_heavy.woff") format("woff");
}
// heavy 900
@font-face {
  font-display: swap;
  font-family: "avenir_black";
  font-weight: normal;
  font-style: normal;
  src:
    url("/fonts/avenir/avenir_black.woff2") format("woff2"),
    url("/fonts/avenir/avenir_black.woff") format("woff");
}
// inter-700
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src:
    url("/fonts/inter/inter-v13-latin-700.woff2") format("woff2"),
    url("/fonts/inter/inter-v13-latin-700.ttf") format("truetype");
}
